/* Основные стили */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0044CC;
    color: #FFF;
    padding: 10px 20px; /* Уменьшение высоты хедера */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 18px; /* Уменьшение размера логотипа */
    margin: 0;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.main-nav li {
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}

.main-nav a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
}

#language-select {
    font-size: 16px;
    padding: 5px;
    border: none;
    background-color: #FFF;
    color: #0044CC;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

#language-select:focus {
    outline: none;
}

.login-container button {
    background-color: #FFF;
    color: #0044CC;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.login-container button:hover {
    background-color: #E0E0E0;
}

/* Hero section */
.hero {
    background-color: #E0F7FF;
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    font-size: 30px; /* Уменьшение шрифта */
    margin-bottom: 20px;
}

.hero p {
    font-size: 16px; /* Уменьшение шрифта */
    margin-bottom: 30px;
}

.cta-button {
    background-color: #0044CC;
    color: #FFF;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Уменьшение шрифта */
}

.cta-button:hover {
    background-color: #003399;
}

/* Фильтры */
.filters {

    margin: 20px 0;
    padding: 10px;
}

.filters h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filter-group {
    flex: 1;
}

.filter-group input, .filter-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.filter-btn {
    background-color: #0044CC;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.filter-btn:hover {
    background-color: #003399;
}

/* Карточки акаунтов */
.account-list {
    margin-top: 20px;
    padding: 10px;
}

.accounts-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.account-card {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    font-size: 0.8em; /* Уменьшение текста */
}

.account-card img {
    width: 70px; /* Уменьшение изображения */
    height: auto;
    margin-bottom: 10px;
}

.account-card h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.account-card p {
    font-size: 14px;
    margin-bottom: 5px;
}

.buy-btn {
    background-color: #0044CC;
    color: #FFF;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.buy-btn:hover {
    background-color: #003399;
}

footer {
    background-color: #333;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    margin-right: 15px;
}

.footer-links a {
    color: #FFF;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}